<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="navigation">
                <a class="nav-link" href="#">Главная</a>
                <a class="nav-link" href="#">Товары</a>
                <a class="nav-link" href="#">Контакты</a>
            </nav>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="showCart = !showCart">Корзина</button>
                <div class="cart-block" v-show="showCart">
                    <p v-if="!cartItems.length">Cart is empty</p>
                    <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
                        <div class="product-bio">
                            <img :src="imgCart" :alt="item.product_name">
                            <div class="product-desc">
                                <p class="product-title">{{item.product_name}}</p>
                                <p class="product-quantity">Quantity: {{item.quantity}}</p>
                                <p class="product-single-price">$ {{item.price}} each</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-price">$ {{item.quantity*item.price}}</p>
                            <button class="del-btn" @click="remove(item)">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <main>
        <div class="container">
            <div class="products">
                <div class="product-item" v-for="el of filtered" :key="el.id_product">
                    <img :src="imgCatalog" :alt="el.product_name">
                    <div class="desc">
                        <h3>{{el.product_name}}</h3>
                        <p>{{el.price}}</p>
                        <button class="buy-btn" @click="addProduct(el)">Купить</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
</body>
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@next"></script>
<script defer src="main.js"></script>
</html>